aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
Makefile.in
missing
test-driver
.deps/
.libs/
Makefile
config.h
config.log
config.status
libtool
*.la
*.lo
*.o
wsock.pc
test-suite.log
tests/.dirstamp
tests/e2e
tests/*.log
tests/*.trs
